
body{
    display: flex;
    justify-content: space-around;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    align-items: center;
    font-family:"quicksand";
    object-fit: contain;

}
.imageBox {
    position: absolute;
    text-align: center;
    flex:.5vh;
    
  }
  img{
    width: 60vh;
    height: 100vh;
    opacity: 90%;
    vertical-align: bottom;
    
   
    
}
.logo{
    background-color: rgb(128, 157, 128);
    font-size: 40px;
    font-family: "borel";
    opacity: 80%;
    width: 60vh;
    height: 8vh;
    position: absolute;
    top: 181px;
    left: 0px;
    text-align: center;
    
    

}

.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    
}
span{
    font-weight: bold;
}
.text{
    padding: 10px;
    margin: 50px 30px 0px 30px;
    font-size: 25px;
    
}
#myform{
    display: flex;
    flex-direction: column;
}
.inputBox{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(206, 221, 205);
    font-size: 20px;
    box-shadow: 3px 3px 5px rgb(112, 101, 101);
    padding: 5px;
    margin: 0px 50px;
    gap: 30px;
    
}
.contentOne{
    display: flex;
    flex-direction: column;
}
.contentTwo{
    display: flex;
    flex-direction: column;
}
#button{
    width: 160px;
    height: 30px;
    background-color: rgb(161, 193, 159);
    border: none;
    border-radius: 5px;
    margin: 50px;
    font-size: 15px;
    box-shadow: 3px 3px 5px rgb(112, 101, 101);
    
}
#button:hover{
    opacity: 50%;
}



input {
    border: 2px solid lightgrey;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 5px;
    width: 35vh;
  }
  input:hover{
    border-color: green;
  }
 
#error{
    color: red;
    font-size: 13px;
}
  
 
